<html>
  <head>
    <title><%= view.title %></title>

    <link href="/stylesheets/grid.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/power-hungry.css" media="screen" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,regular' rel='stylesheet' type='text/css'>

    <script src="/javascripts/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/jquery.flot.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/power-hungry.js" type="text/javascript" charset="utf-8"></script>
    <script src="/graph.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5680767-1']);
      _gaq.push(['_setDomainName', '.plainlystated.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <div id="container-header" class="container_12">
      <div id="header" class="grid_6">
        <h1><%- view.title %></h1>
      </div>
      <div id="header-description" class="prefix_1 grid_5">
        <div>
          <%= view.tagLine %>
        </div>
      </div>
    </div>

    <div class="container_12">
      <div id="holder-container" class="grid_12">
        <div id="holder">
          <img src="/images/spinner.gif" class="spinner" id="graph-spinner">
        </div>
      </div>
    </div>

    <%- body %>

    <div id="container" class="container_12">
      <div id="graph-list" class="grid_4">
        <div class="column-content">
          <ul>
            <li id="past-day"><a href="#">Past Day</a></li>
            <li id="past-week"><a href="#">Past Week</a></li>
            <li id="past-month"><a href="#">Past Month</a></li>
          <ul>
        </div>
      </div>

      <div id="graph-details" class="grid_4">
        <div class="column-content">
          <%- partial(view.slug + "/graphDetails") %>
        </div>
      </div>

      <div id="site-about" class="grid_4">
        <div class="column-content">
          <div class="content-header">Hardware</div>
          <div>
            This project uses an Arduino, some solid-state relays, and a temperature sensor from Adafruit.
          </div>
          <br />

          <div class="content-header">Software</div>
          <div>
            Coffeescript is used to collect, manage, and serve (with nodeJS) the data, which is persisted in a Round Robin Database. <a href="https://www.google.com/calendar/embed?src=963shrhe9d8g3d5h7le9uu72l8%40group.calendar.google.com&ctz=America/Chicago">Google Calendar</a> is used to remotely schedule the temperature settings.
          </div>
          <br />

          <div class="content-header">More Info</div>
          <div>
            See my <a href="http://www.plainlystated.com/category/my-projects/my-projects-hot-or-not/">blog</a>.
          </div>
          <br />

          <div class="content-header">Author</div>
          <div>
            <a href="http://plainlystated.com">Patrick Schless</a>
          </div>
        </div>
      </div>
    </div>
    <script id="source" language="javascript" type="text/javascript">
      $(document).ready(function() {
        var graph = new Graph("<%= view.slug %>");
        graph.init();
      });
    </script>
  </body>
</html>
